<header class="header">
  <nav class="nav-bar">
    <div class="logo">
      <!-- <i class="fa-solid fa-pizza-slice"></i>
      <span>TU ORDEN</span> -->
      <span>2 ORDER</span>
    </div>
    <form action="" class="flex-item">
      <input type="search" />
      <button type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
    <ul class="login">
      <li class="sign-in" class="sign-in flex-item">Sign in</li>
      <li class="log-in" class="log-in flex-item">Log in</li>
    </ul>
  </nav>
</header>
